binds {
    Mod+Alt+M repeat=false { spawn "niripip" "hide"; }
    Mod+Alt+Shift+M repeat=false { spawn "niripip" "restore-hidden"; }
    Mod+Alt+P { spawn "niripip" "ui"; }
    Mod+Alt+Equal { spawn "niripip" "scale" "10"; }
    Mod+Alt+Minus { spawn "niripip" "scale" "-10"; }
    Mod+Alt+O { spawn "niripip" "opacity" "100"; }
    Mod+Alt+Shift+O { spawn "niripip" "opacity" "auto"; }
    Mod+Alt+L { spawn "niripip" "lock"; }
    Mod+Alt+Shift+L { spawn "niripip" "unlock"; }
}
